* {
    margin: 0 auto;
    padding: 0;
}

.preloader {
    position: relative;
}

.cloak-left {
    position: fixed;
    left: -100%;
    bottom: 0;
    width: 51%;
    height: 100%;
    z-index: 99;
    background: #000;
    animation: outLeft ease-out 5s;
}

.cloak-right {
    position: fixed;
    right: -100%;
    bottom: 0;
    width: 0;
    height: 100%;
    z-index: 99;
    background: #000;
    animation: outRight ease-out 5s;
}

.spiner {
    position: fixed;
    z-index: 100;
    left: -100%;
    top: -100%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    animation: size linear 7s;

}

.play-button img {
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 100;
    left: -50%;
    top: -50%;
    margin: -50px 0 0 -50px;
    animation: 8s linear pulse;
}

.ring1 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid transparent;
    border-left-color: dodgerblue;
    border-right-color: dodgerblue;
    animation: spiner linear 3s infinite;
}

.ring2 {
    position: absolute;
    left: 6.25%;
    top: 6.25%;
    width: 87.5%;
    height: 87.5%;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: firebrick;
    border-right-color: firebrick;
    animation: spiner ease-in 1.2s infinite;
}

.ring3 {
    position: absolute;
    left: 12.5%;
    top: 12.5%;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 4px solid greenyellow;
    border-bottom-color: transparent;
    animation: spiner ease-out 2.4s infinite;
}

@keyframes spiner {
    0% {
        transform: rotate(0deg);
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0.5    ;
    }
}


@keyframes outRight {
    0% {
        right: 0;
        width: 51%;
    }
    70% {
        right: 0;
    }
    71% {
        opacity: 1;
        right: 0;
        width: 51%;
    }
    100% {
        opacity: 0;
        right: -100%;
        width: 0;
    }
}

@keyframes outLeft {
    0% {
        left: 0;
        width: 51%;
    }
    70% {
        left: 0;
    }
    71% {
        opacity: 1;
        left: 0;
        width: 51%;
    }
    100% {
        opacity: 0;
        left: -100%;
        width: 0;
    }
}

@keyframes size {
    0% {
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        left: 50%;
        top: 50%;
    }
    45% {
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        left: 50%;
        top: 50%;
    }
    55% {
        width: 300px;
        height: 300px;
        margin: -150px 0 0 -150px;
        left: 50%;
        top: 50%;
        opacity: 1;
    }

    65% {
        width: 1000px;
        height: 1000px;
        margin: -500px 0 0 -500px;
        left: 50%;
        top: 50%;
        opacity: 0;
    }
    66% {
        width: 1000px;
        height: 1000px;
        margin: -500px 0 0 -500px;
        left: -100%;
        top: -100%;
        opacity: 0;
    }

    100% {
        width: 1000px;
        height: 1000px;
        margin: -500px 0 0 -500px;
        left: -50%;
        top: -50%;
        opacity: 0;
        
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
        left: 50%;
        top: 50%;
    }
    15% {
        opacity: 1;
        left: 50%;
        top: 50%;
    }
    30% {
        opacity: 0;
        left: 50%;
        top: 50%;
    }
    45% {
        opacity: 1;
        left: 50%;
        top: 50%;
    }
    60% {
        opacity: 0;
        left: 50%;
        top: 50%;
    }
    61% {
        opacity: 0;
        left: -50%;
        top: -50%;
    }

    100% {
        opacity: 0    ;
    }
}